.podval{
    background-color: rgba(106, 88, 63, 0.636);
}

.podval a{
    text-decoration: none;
}

.t{
    margin: 10px;
}

.contact{
    margin-bottom: 0px;
}

.asd{
    padding-bottom: 10px;
    margin-bottom: 0px;
}